<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @factoid.text %>
</p>
<p>
  <strong>URL:</strong>
  <%= @factoid.url %>
</p>

<%= link_to 'Edit', edit_factoid_path(@factoid) %> |
<%= link_to 'Back', factoids_path %>
